fastapi
python-dotenv
uvicorn
pandas
openai
langchain-google-genai
langchain-core
langchain-text-splitters
pydantic
numpy
scikit-learn
pytesseract
Pillow
docx2txt
pypdf
datefinder
camelot-py
python-pptx
beautifulsoup4
striprtf
pypandoc
